mj-section
  mj-column
    mj-divider(
      border-width="1px"
      border-style="solid"
      border-color="#e0e0e0"
    )
mj-section
  mj-group
    mj-column(
      padding-top="5px"
      width="80%"
    )
      mj-text( font-size="20px" ) Open Apiary

    mj-column(
      padding-top="17px"
      width="20%"
    )
      mj-table
        tr( style="list-style: none; line-height:1" )
          td
            a( target="_blank" href="https://twitter.com/MrSimonEmms" )
              img(
                width="18"
                alt="Twitter icon"
                src="https://gitlab.com/MrSimonEmms/open-apiary/-/raw/master/assets/email/twitter.png"
              )
          td
            a( target="_blank" href="https://gitlab.com/MrSimonEmms/open-apiary" )
              img(
                width="18"
                alt="Source code icon"
                src="https://gitlab.com/MrSimonEmms/open-apiary/-/raw/master/assets/email/code-tags.png"
              )
          td
            a( target="_blank" href="https://gitlab.com/MrSimonEmms/open-apiary/" )
              img(
                width="18"
                alt="Help icon"
                src="https://gitlab.com/MrSimonEmms/open-apiary/-/raw/master/assets/email/help-circle-outline.png"
              )
